# Compiled boot sector code
# includes the UEFI bios64.bin
*.bin

# Object files
*.o

# Iso
iso/
*.iso

# clangd
compile_commands.json
.cache/

# UEFI
*.EFI

# Binary files
*.img
*.elf

# Output folder
output/
